bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Temporary files
*temp*